{% extends "base.html" %}
{% block head %}
  {{ super() }}
  {% block title %}<title>{{ article.title }} | {{ SITENAME }}</title>{% endblock title %}
  {% block description %}
      <meta property="og:title" content="{{ article.title|striptags }}">
      {% for keyword in article.keywords %}
        <meta name="keywords" contents="{{keyword}}" />
        <meta name="news_keywords" content="{{keyword}}">
      {% endfor %}

      {% for description in article.description %}
        <meta name="description" contents="{{description}}" />
        <meta property="og:description" content="{{ description }}">
      {% endfor %}

      {% for tag in article.tags %}
        <meta name="tags" contents="{{tag}}" />
      {% endfor %}
  {% endblock %}

{% endblock %}

{% block content %}
<div class="posts">
<div class="post">
    <h1 class="post-title">
      {{ article.title }}
    </h1>
    <span class="post-date">{{ article.locale_date }}</span>
    {{ article.content }}
    <div class="pagination">
        <ul>
            {% if article.prev_article %}
                <span class="pagination-item">
                    <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                        {{ article.prev_article.title }}
                    </a>
                </span>
            {% endif %}
            {% if article.next_article %}
                <span class="pagination-item">
                    <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                        {{ article.next_article.title }}
                    </a>
                </span>
            {% endif %}
        </ul>
    </div>
    <h2>Comments</h2>
  {% include 'disqus.html' %}
  </div>
</div>

{% endblock %}
