<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <div class="profile">
      <img src="{{ SITEURL }}/theme/img/profile.png"/>
    </div>
  </div>

  <nav class="sidebar-nav">

  {% for title, href in LINKS %}
    <a class="sidebar-nav-item" href="{{ href }}">{{ title }}</a>
  {% endfor %}

  {% if DISPLAY_PAGES_ON_MENU %}
    {% for p in pages %}
        <a class="sidebar-nav-item" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
    {% endfor %}
  {% endif %}

  {% for category, articles in categories %}
      <a class="sidebar-nav-item" href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
  {% endfor %}

  </nav>

  <div class="sidebar-item">
    <p>
    <a href="https://twitter.com/{{ TWITTER_ACCOUNT }}">@{{ TWITTER_ACCOUNT }}</a>
    </p>
    <p class="tiny-note">
      <a class="muted" href="https://andriisoldatenko.github.io/">Made with love</a>
    </p>
  </div>
</div>
